.container {
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 97vh;
  background-image: url("../../img/error.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  font-size: 5em;
  text-align: center;
  margin-top: 150px;
  color: whitesmoke;
  text-shadow: 3px 3px 8px #228B22;
}
@media screen and (max-width: 900px) {
  .view {
    margin-top: 40px;
    background-size:auto;
  }
  .title {
    font-size: 3em;
    margin-left: 0px;
  }
}
