.card {
  text-decoration: none;
  text-shadow: 3px 3px 8px black;
  color: whitesmoke;
  width: 70%;
  height: 470px;
  margin: 15px;
  border: 1px solid #228b22;
  border-radius: 15px;
  box-shadow: 8px 8px 8px 8px #228b22;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
}

.card:hover {
  opacity: 0.8;
  transform: translateY(-30px);
  transition: 0.5s;
}

.title {
  font-size: 1.4em;
  color: whitesmoke;
  margin-left: 5px;
}

.subTitle {
  font-size: 1.2em;
  text-decoration: underline;
  color: whitesmoke;
  text-decoration: none;
}

.image {
  margin-top: 0px;
  height: 13rem;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.diets {
  text-align: center;
  border: 0px;
  width: 100%;
  background: none;
  color: whitesmoke;
  font-size: 1.1em;
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 60%;
    height: 32rem;
    margin: 10%;
  }

  .image {
    height: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1em;
  }

  .subTitle {
    font-size: 0.8em;
  }

  .card {
    height: 28rem;
  }
}
