.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../../img/form1.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  color: #FFFFFF ;
  padding-top: 60px;
  
}
.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3em;
  text-shadow: 4px 4px 6px #228B22 ;
}
.form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: max-content;
  height: max-content;
  margin-bottom: 50px;
  border-radius: 1em;
  box-shadow: 3px 3px 5px 3px #228B22;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}
.sectionDiets {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.input {
  background: #228b229a;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 0.3em;
  font-size: 1.3em;
  text-align: center;
  width: 350px;
  margin: 10px;
  border: none;
  box-shadow: 0px 1px 1px black;
  transition: all 0.3s;
}
.input:hover {
  transform: scale(1.05);
  transition-delay: 0.3s;
}
.label {
  font-weight: bolder;
  text-shadow: 2px 2px 3px black;
  color: #ffffffe5 ;
  font-size: 1.5em;
  margin: 10px;
}
.button {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.error {
  font-size: 1.3em;
  text-align: center;
  width: 500px;
  margin: 20px;
  border: 0px;
  border-radius: 3px;
  color: white;
  background-color: #228b229a;
  box-shadow: 3px 3px 8px black;
}
.msgError {
  font-style: italic;
  font-weight: lighter;
  margin: 15px;
  font-size: 1.3em;
  color: #c90000;
  text-shadow: 3px 3px 8px black;
}

.checkbox {
  width: 21px;
  height: 21px;
}

@media screen and (max-width: 2400px) {
  .container {
    padding-bottom: 310px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding-bottom: 120px;
  }
  .title {
    font-size: 3em;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .form {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .container {
    margin-top: 40px;
    padding-bottom: 150px;
  }
  .title {
    font-size: 2em;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .form {
    grid-template-columns: repeat(1, 1fr);
  }
  .label {
    font-size: 1em;
  }
  .input {
    width: 250px;
  }
  .checkbox {
    width: 12px;
  }
}
@media screen and (max-width: 500px) {
  .form {
    padding: 2px;
  }
  .label {
    font-size: 1em;
  }
  .input {
    width: 250px;
  }
  .checkbox {
    width: 12px;
  }
}
